ffmpeg-python
py-tgcalls==2.0.2
pyrogram==2.0.106
python-dotenv
tgcrypto
youtube_search
yt-dlp
pytube
pillow==10.1.0
aiofiles
numpy
wget
pydub
aiohttp
motor==2.5.1
pymongo[srv]==3.12.3
dnspython
lexica-api
beautifulsoup4
py-tgcalls==0.9.7
