ffmpeg-python
python-dotenv
pyrogram==2.0.106
tgcrypto
youtube_search
yt-dlp
pytube
pillow==10.1.0
aiofiles
numpy
wget
pydub
aiohttp
motor==2.5.1
pymongo==3.12.3
lexica-api
beautifulsoup4
git+https://github.com/pytgcalls/pytgcalls.git  # ✅ Public working version
